@import url('./buttons.css');
@import url('./typography.css');
@import url('./every-layout.css');

:root {
    --font-family: 'Inter', sans-serif;
    --max-width: 1280px;
    --spacing-base: 1rem;

    /* Colors/base */
    --colors-base-white: #FFFFFF;
    --colors-base-black: #000000;

    /* Colors/Brand */
    --colors-brand-25: #FCFAFF;
    --colors-brand-50: #F9F5FF;
    --colors-brand-100: #F4EBFF;
    --colors-brand-200: #E9D7FE;
    --colors-brand-300: #D6BBFB;
    --colors-brand-400: #B692F6;
    --colors-brand-500: #9E77ED;
    --colors-brand-600: #7F56D9;
    --colors-brand-700: #6941C6;
    --colors-brand-800: #53389E;
    --colors-brand-900: #42307D;
    --colors-brand-950: #2C1C5F;

    /* Colors/Gray (dark mode) */
    --colors-gray-dark-mode-25: #FAFAFA;
    --colors-gray-dark-mode-50: #F5F5F6;
    --colors-gray-dark-mode-100: #F0F1F1;
    --colors-gray-dark-mode-200: #ECECED;
    --colors-gray-dark-mode-300: #CECFD2;
    --colors-gray-dark-mode-400: #94969C;
    --colors-gray-dark-mode-500: #85888E;
    --colors-gray-dark-mode-600: #61646C;
    --colors-gray-dark-mode-700: #333741;
    --colors-gray-dark-mode-800: #1F242F;
    --colors-gray-dark-mode-900: #161B26;
    --colors-gray-dark-mode-950: #0C111D;

    /* Colors/Gray (light mode) */
    --colors-gray-light-mode-25: #FCFCFD;
    --colors-gray-light-mode-50: #F9FAFB;
    --colors-gray-light-mode-100: #F2F4F7;
    --colors-gray-light-mode-200: #EAECF0;
    --colors-gray-light-mode-300: #D0D5DD;
    --colors-gray-light-mode-400: #98A2B3;
    --colors-gray-light-mode-500: #667085;
    --colors-gray-light-mode-600: #475467;
    --colors-gray-light-mode-700: #344054;
    --colors-gray-light-mode-800: #182230;
    --colors-gray-light-mode-900: #101828;
    --colors-gray-light-mode-950: #0C111D;

    --colors-error-100: #FEE4E2;
    --colors-error-500: #F04438;
    --colors-error-600: #D92D20;
    --colors-error-900: #7A271A;

    --colors-success-500: #17B26A;
    --colors-success-600: #079455;

}

/* semantic color variables for this project */
html {
    /* Background (light mode) */
    --colors-bg-primary: var(--colors-base-white);
    --colors-bg-primary_hover: var(--colors-gray-light-mode-50);

    /* Background Alt (light mode) */
    --bg-primary_alt: var(--colors-base-white);    

    /* Button primary background (light mode) */
    --button-primary-bg: var(--colors-brand-600);
    --button-primary-bg_hover: var(--colors-brand-700);

    --button-primary-fg: var(--colors-base-white);
    --button-primary-fg_hover: var(--colors-base-white);

    --button-primary-border: var(--colors-brand-600);
    --button-primary-border_hover: var(--colors-brand-700);

    /* Text color (light mode) */
    --colors-text-primary-900: var(--colors-gray-light-mode-900);
    --colors-text-tertiary-600: var(--colors-gray-light-mode-600);

    /* Text brand secondary (light mode) */
    --colors-text-brand-secondary-700: var(--colors-brand-700);

    /* Button secondary (light mode) */
    --button-secondary-bg: var(--colors-base-white);
    --button-secondary-bg_hover: var(--colors-gray-light-mode-50);
    --button-secondary-fg: var(--colors-gray-light-mode-700);
    --button-secondary-fg_hover: var(--colors-gray-light-mode-800);
    --button-secondary-border: var(--colors-gray-light-mode-300);
    --button-secondary-border_hover: var(--colors-gray-light-mode-300);

    /* Button secondary color (light mode) */
    --button-secondary-color-bg: var(--colors-base-white);
    --button-secondary-color-bg_hover: var(--colors-brand-50);
    --button-secondary-color-fg: var(--colors-brand-700);
    --button-secondary-color-fg_hover: var(--colors-brand-800);
    --button-secondary-color-border: var(--colors-brand-300);
    --button-secondary-color-border_hover: var(--colors-brand-300);
    
    --button-link-color-fg: var(--colors-brand-700);
    --button-link-color-fg_hover: var(--colors-brand-700);

    /* Button ternary foreground (light mode) */
    --button-tertiary-fg: var(--colors-gray-light-mode-600);
    --button-tertiary-fg_hover: var(--colors-gray-light-mode-700);

    /* Border primary (light mode) */
    --border-primary: var(--colors-gray-light-mode-300);
    --border-secondary: var(--colors-gray-light-mode-200);
    --border-tertiary: var(--colors-gray-light-mode-100);

    /* Shadows (light mode) */
    --shadow-default: rgba(10, 13, 18, 0.1);
}

html.dark {
    /* Background (dark mode) */
    --colors-bg-primary: var(--colors-gray-dark-mode-950);
    --colors-bg-primary_hover: var(--colors-gray-dark-mode-800);

    /* Background Alt (dark mode) */
    --bg-primary_alt: var(--colors-gray-dark-mode-900);

    /* Button primary background (dark mode) */
    --button-primary-bg: var(--colors-brand-600);
    --button-primary-bg_hover: var(--colors-brand-700);

    --button-primary-fg: var(--colors-base-white);
    --button-primary-fg_hover: var(--colors-base-white);

    --button-primary-border: var(--colors-brand-600);
    --button-primary-border_hover: var(--colors-brand-700);

    /* Text color (dark mode) */
    --colors-text-primary-900: var(--colors-gray-dark-mode-50);
    --colors-text-tertiary-600: var(--colors-gray-dark-mode-400);

    /* Text brand secondary (dark mode) */
    --colors-text-brand-secondary-700: var(--colors-gray-dark-mode-300);

    /* Button secondary (dark mode) */
    --button-secondary-bg: var(--colors-gray-dark-mode-900);
    --button-secondary-bg_hover: var(--colors-gray-dark-mode-800);
    --button-secondary-fg: var(--colors-gray-dark-mode-300);
    --button-secondary-fg_hover: var(--colors-gray-dark-mode-100);
    --button-secondary-border: var(--colors-gray-dark-mode-700);
    --button-secondary-border_hover: var(--colors-gray-dark-mode-700);

    /* Button secondary color (dark mode) */
    --button-secondary-color-bg: var(--colors-gray-dark-mode-900);
    --button-secondary-color-bg_hover: var(--colors-gray-dark-mode-800);
    --button-secondary-color-fg: var(--colors-gray-dark-mode-300);
    --button-secondary-color-fg_hover: var(--colors-gray-dark-mode-100);
    --button-secondary-color-border: var(--colors-gray-dark-mode-700);
    --button-secondary-color-border_hover: var(--colors-gray-dark-mode-700);

    /* Button ternary foreground (light mode) */
    --button-tertiary-fg: var(--colors-gray-dark-mode-400);
    --button-tertiary-fg_hover: var(--colors-gray-dark-mode-200);

    /* Border primary (dark mode) */
    --border-primary: var(--colors-gray-dark-mode-700);
    --border-secondary: var(--colors-gray-dark-mode-800);
    --border-tertiary: var(--colors-gray-dark-mode-950);

    /* Shadows (dark mode) */
    --shadow-default: rgb(0, 0, 0);
}

/* Radius */
:root {
    --radius-none: 0;
    --radius-xxs: 2px;
    --radius-xs: 4px;
    --radius-sm: 6px;
    --radius-md: 8px;
    --radius-lg: 10;
    --radius-xl: 12px;
    --radius-2xl: 16px;
    --radius-3xl: 20px;
    --radius-4xl: 24px;
    --radius-full: 9999px;
}

/* Spacing */
:root {
    --spacing-xxs: 0.125rem; /* converted */
    --spacing-md: 0.5rem; /* converted */
    --spacing-xl: 1rem; /* converted */
    --spacing-3xl: 1.5rem; /* converted */
    --spacing-4xl: 2rem; /* converted */
    --spacing-6xl: 3rem; /* converted */
    --spacing-9xl: 6rem; /* converted */
}

*,
*::before,
*::after {
    border: 0 solid;
    box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    overflow-wrap: break-word;
    padding: 0;
    text-decoration: none;
}

/* Remove List Bullets/Points */
ul {
    list-style: none;
}

body {
    background: var(--colors-bg-primary);
    max-inline-size: var(--max-width, 1280px);
    margin-inline: auto;
    font-family: var(--font-family), sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

p {
    font-size: var(--font-size-text-xl);
    font-weight: 400;
    line-height: var(--line-height-text-xl);
    color: var(--colors-text-tertiary-600);
}

h1 {
    font-size: var(--font-size-display-lg);
    font-weight: 600;
    line-height: var(--line-height-display-lg);
    letter-spacing: -0.96px;
    color: var(--colors-text-primary-900);
}

h2 {
    font-size: var(--font-size-display-xs);
    font-weight: 600;
    line-height: var(--Line-height-display-md);
    color: var(--colors-text-brand-secondary-700);
}

h3 {
    font-size: var(--font-size-display-sm);
    font-weight: 600;
    line-height: var(--Line-height-display-sm);
    color: var(--colors-text-primary-900);
}

/* Global classes */

/* Start generic section */
.section {
    text-align: center;
    margin-block: var(--spacing-9xl);
    padding-inline: 1rem;
}

/* Start call to action section */
.cta {
    margin-block-start: var(--spacing-6xl);
}

/* badges */
.badge {
    padding-inline: var(--spacing-md);
    padding-block: var(--spacing-xxs);
    border: 1px solid var(--border-primary);
    border-radius: var(--radius-full);
    color: var(--colors-text-tertiary-600);
}