:root {
    --font-size-text-md: 1rem; /* converted */
    --font-size-text-xl: 1.25rem; /* converted */

    --font-size-display-lg: 3rem; /* converted */

    --line-height-text-md: 1.5rem; /* converted */
    --line-height-text-xl: 1.875rem; /* converted */
    
    --line-height-display-lg: 3.75rem; /* converted */
    
}

/* display typography */
.display-lg-semibold {
    font-size: var(--font-size-display-lg);
    font-weight: 600;
    line-height: var(--line-height-display-lg);
    letter-spacing: -0.96px;
}

/* text typography */
.text-md-semibold {
    font-size: var(--font-size-text-md);
    font-style: normal;
    font-weight: 600;
    line-height: var(--line-height-text-md);
}

.text-xl-regular {
    font-size: var(--font-size-text-xl);
    font-weight: 400;
    line-height: var(--line-height-text-xl);
}

.text-xl-semibold {
    font-size: var(--font-size-text-xl);
    font-style: normal;
    font-weight: 600;
    line-height: var(--line-height-text-xl);
}